nav {
  background-color: #333;
  padding: 1em;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  list-style: none;
  padding: 0;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
.contenedor {
  display: flex;
  height: 200px;
  border: 2px solid #333;
  background-color: #f2f2f2;
  align-items: flex-start;
}
.caja {
  width: 50px;
  height: 50px;
  background-color: #3498db;
  color: white;
  display: flex;
  justify-content: center;

  align-items: center;
}

footer {
  background-color: #222;
  color: white;
  text-align: center;
  padding: 1em;
}

footer ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 1em;
  padding: 0;
}
